<%= form_for(:reviews, url: manager_reviews_path) do |f| %>
  <div id="reviewer"><%= f.collection_select :employee_id, @employees, :id, :username, prompt: "Select the reviewer"%></div>
  <div id="reviewee"><%= f.collection_select :employee_id, @employees, :id, :username, prompt: "Select the employee being reviewed"%></div>
  <%= f.submit "Assign Review" %>
<% end %>
